.mainSection{
  background: #385e94
}

body{
  font-family: -apple-system, BlinkMacSystemFont , "avenir next","avenir","helvetica neue",
    "helvetica","ubuntu","roboto","noto","segoe ui","arial",sans-serif;
  background: #385e94;
  color: white;
}

a{
  display: inline;
  font-weight: bold;
  border-bottom: 3px solid 	#7e9fce;
  padding-bottom: 1px;
  color:#7e9fce;
}

a:hover{
  border-bottom: 3px solid 	#fee18b; 
  color:white;
}

i{
  color: 	#7e9fce; 
}
i:hover{
  color: white;
}

.underlineHeaderText{
  display: inline;
  border-bottom: 3px solid 	#7e9fce;
  padding-bottom: 1px;
}

.underlineHeaderText:hover{
  border-bottom: 3px solid 	#fee18b; 
}

#dateText{
  font-size: smaller;
  color: 	#7e9fce;
  padding-top: 1%;
}

#leadText{
  font-size: medium;
  margin-top: -1%;
}

ul{
  padding: 0%
}

#headerRow{
  height: 100px;
}

.leftHeaderColText{
  margin-left: 55%;
  margin-top: 0%;
}

.rightHeaderCol{
  margin-top: 3.4%;
}

.articleContent{
  font-size: large;
  line-height: 2.5rem;
  padding-bottom: 5%;
}

.contentTitle{
  margin-top: 1%;
  padding-bottom: 1%;
  font-size: 3rem;
  font-weight: bolder;
}

.contentDate{
  padding-bottom: 1%;
  color:#7e9fce;
  font-weight: bold;
  font-size: medium; 
}

#articleListGrid{
  padding-top: 3%;
}

#mainGrid{
  align-self: center;
  padding-top: 3%;
}

#centerCol{
  padding-left: 10%;
  padding-right: 10%;
}

#listRow{
  margin-left: 6.5%;
  display: flex;
  justify-content: flex-start;
}

#aboutText{
  font-size: large;
  font-weight: 100;
}

#aboutImg{
  margin-top: 6%;
}

#articleList{
  margin-bottom: 3%;
}

#articleListMainGrid{
  padding-top: 2%;
}

#projectContent{
  padding-top: 5%;
}

.projectPadding{
  margin-top: 4%;
}

.projectPaddingBottom{
  padding-bottom: 20%;
}

#toTopButton{
  font-size: medium;
}

#formField{
  color: white;
  font-size: medium;
}

#formButton{
  border: 1px solid white;
  background: #385e94;
  color: white;
}

#formButton:hover{
  border: 1px solid #fee18b; 
}

#subscribeHeader{
  padding-bottom: 2%;
  padding-top: 3%;
}

#newsletterHeader{
  padding-top: 3%;
}

#MERGE0{
  background: #385e94;
  border: 1px solid white;
  color: white; 
}
#MERGE0:focus{
  background: white;
  color: black;
  border: 1px solid #fee18b;
}

#MERGE0:hover{
  border: 1px solid #fee18b;
}

#MERGE1{
  background: #385e94;
  border: 1px solid white;
  color: white;
}

#MERGE1:focus{
  background: white;
  color: black;
  border: 1px solid #fee18b;
}

#MERGE1:hover{
  border: 1px solid #fee18b;
}

.aTagStyleBlocker{
  border: none;
  padding-bottom: none;
  color: #7e9fce;
}

.aTagStyleBlocker:hover{
  color: white;
  border:none;
}

#hiddenDirTag{
  display: none;
}

#disqusEmbed{
  margin-top: 5%;
  margin-bottom: 5%;
}

#socialEmbed{
  margin-top: 5%;
  margin-bottom: 5%;
}

#newsletterEmbed{
  margin-bottom: 10%; 
}

.projectSegments{
  background: #385e94 !important;
  border: 1px solid white !important;
}