/* Global Styles */

body{
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
	color: #424241;
	font-weight: 400;
}

.btn{
	background-color:#385e94 !important;
	color: white !important;
	font-weight: bolder !important;
}

.btn:hover{
	background-color: #253a57 !important;
}

ul{
	list-style: none;
	padding-left: 3%
}

li{
	margin-top: 2%
}

#navlinks{
	font-weight: 600;
}

#navlinks > li > a{
	color: #385e94 
}

#navlinks > li > a:hover{
	color: #253a57;
	border-bottom: 1px solid #253a57;
}

#categories-header{
	font-weight: 600;
	font-size: 1em
}
.categories > li{
	margin-top: 10%;
	font-size: 0.9em;
	opacity: 0.9;
}

.categories > li > b > a{
	color: #385e94 
}

.categories > li > b > a:hover{
	color: #253a57;
	border-bottom: 1px solid #253a57;
}


/* Mobile Breakpoints */
@media only screen and (min-width: 992px) {

	#main-section{
		margin-left: 15vw;
		margin-right: 15vw;
		background-color: red
	}
}

/* Tablet Breakpoints */
@media only screen and (min-width: 992px) {

	#main-section{
		margin-left: 15vw;
		margin-right: 15vw;
		background-color: red
	}
}

/* Laptop Breakpoints */
@media only screen and (min-width: 992px) {

	#main-section{
		margin-left: 15vw;
		margin-right: 15vw;
		background-color: blue
	}
}

/* Wide (Monitor) Breakpoints */
@media only screen and (min-width: 1200px) {

	body{
		padding-top:2%;
	}

	#main-section{
		margin-left: 8%;
		margin-right: 8%;
		background-color: white;
	}

	#sidebar-col{
		/* margin-left: 4vw; */
	}
	
	#content-col{
		margin-left: 5%;
		background-color: red;
		
	}
}
